*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;   
    width: 100%;
}
.tophalf{
    display: flex;
    height:100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
   column-gap: 50px;
}
.logoside{
   height: 50vh;
   width: 40%;
   display: flex;
   flex-direction: column;
}
.logo{
   width: 100%;
   height: auto;
    
}
.logo img{
    height: 110px; 
    margin-bottom:-2%;
}
.caption{
  width: 100%;
  height: auto;
  padding-left: 7%;
}
.caption p{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #1c1e21;
   
   
}
.cardside{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardside a{
    text-decoration: none;
    color:#1c1e21;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 100px;
}
.cardside p{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif ;
text-align: start;
}
.whitebox{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    padding: 3%;
    width: 380px;
    height: 350px;
  margin-bottom: 3%;
}
#username{
    height: 50px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;   
    text-indent: 0.5em;
    font-size: 17px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
#username:hover{
    border: 1px solid #166fe5;
}
#password {
    height: 50px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;   
    text-indent: 0.5em;
    font-size: 17px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
#password:hover{
    border: 1px solid #166fe5;
}
#login{
    border: 1px solid #166fe5;
    height: 50px;
    width: 350px;
    background-color: #166fe5;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
}
.whitebox a{
    text-decoration: none;
    color: #1877f2;
    text-align: center;
    font-size: 15px;
    margin-left: 30%;
    margin-bottom: 2%;  
    font-weight: lighter;
}
#create-account{
    background-color: #36a420;
    color: white;
    height: 50px;
    width: 220px;
    border: 1px solid #36a420;
    font-size: large;
    font-weight: bold;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif ;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 20px;
}
.bottomhalf{
    margin-top: 20px;
}
.languages a{
    text-decoration: none;
    color:#8a8d91;
    font-family: Helvetica, Arial, sans-serif ;
    font-size: 13px;
}
.links a{
    text-decoration: none;
    color:#8a8d91;
    font-family: Helvetica, Arial, sans-serif ;
    font-size: 13px;
}

    

.copyright{ 
    color:#737373;
    font-family: Helvetica, Arial, sans-serif ;
    font-size: 12px;
}
@media (max-width:600px){
    .top-half{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}